@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f3ff;
    font-family: 'Roboto', sans-serif;
    color: #4b5563;
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* * {
    border: solid red 1px;
} */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Set the container to fill the viewport height */
}

.logo {
    font-family: 'Acme', sans-serif !important;
}
  
.text {
font-size: 16px;
/* other styles */
}

.btn-outline {
    outline-color: #c026d3;
}

.animate-ping {
    animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.numerator {
    border-bottom: solid 1px #d946ef;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.denominator {
    border-top: solid 1px #d946ef;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}