@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #f9fafb;
    font-family: 'Roboto', sans-serif;
    color: #4b5563;
    min-width: 100vw;
}

/* * {
    border: solid red 1px;
} */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Set the container to fill the viewport height */
}

.logo {
    font-family: 'Acme', sans-serif !important;
}
  
.text {
font-size: 16px;
/* other styles */
}

.btn-outline {
    outline-color: #c026d3;
}

